@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&family=Work+Sans:wght@100;200;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav header"  "nav main"  "nav footer"; }

.title_header {
  display: flex;
  grid-area: header;
  background-image: linear-gradient(to right, #191970, #5e42a6);
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row; }
  .title_header .title_dp {
    font-size: 50px;
    letter-spacing: 30px;
    font-family: "Contrail One", cursive;
    -webkit-text-stroke: 3px #ff73b8;
    -webkit-text-fill-color: #c7188c; }
  .title_header .profile {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .title_header .profile p {
      font-family: "Work Sans", sans-serif;
      color: #191970;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px; }
    .title_header .profile img {
      width: 50px; }
  .title_header .car_empy {
    position: relative; }
    .title_header .car_empy div {
      position: absolute;
      top: 0;
      right: -6px;
      width: 20px;
      height: 20px;
      font-family: "Work Sans", sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #c7188c;
      background-color: #B0C4DE;
      border-radius: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center; }
    .title_header .car_empy img {
      width: 50px;
      margin-bottom: 10px; }

.nav {
  grid-area: nav;
  background-color: #191970;
  position: relative;
  padding: 10px;
  text-align: right;
  font-weight: bold; }
  .nav ul {
    font-family: "Contrail One", cursive;
    list-style: none;
    margin-right: 20px; }
    .nav ul li {
      position: relative;
      margin: 2em 0; }
      .nav ul li a {
        text-decoration: none;
        line-height: 5em;
        text-transform: uppercase;
        letter-spacing: 7px;
        color: rgba(255, 255, 255, 0.35);
        display: block;
        transition: all ease-out 600ms; }
    .nav ul .active a {
      color: white; }
    .nav ul :not(.active)::after {
      opacity: 0.2; }
    .nav ul :not(.active):hover a {
      color: rgba(255, 255, 255, 0.911); }
    .nav ul .nav ul li:not(.active):hover a {
      color: rgba(255, 255, 255, 0.75); }
    .nav ul ::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: #000000;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #191970, #5e42a6); }
  .nav img {
    margin-bottom: 40px;
    width: 180px; }

.product-detail {
  font-family: "Work Sans", sans-serif;
  background-color: #E6E6FA;
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  margin-top: 100px; }
  .product-detail .primary-button {
    background-image: linear-gradient(to right, #191970, #5e42a6);
    border-radius: 8px;
    border: none;
    color: #ff73b8;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    text-transform: uppercase; }

.title-container {
  display: flex;
  margin-bottom: 5px; }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
    margin-left: 10px; }
  .title-container .title {
    font-size: 14px;
    font-weight: bold; }

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px; }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column; }
  .order p span:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #191970; }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold; }

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 14px;
  margin-bottom: 15px;
  padding: 2px;
  align-items: center;
  border: solid 2px #B0C4DE;
  background-color: #B0C4DE; }
  .shopping-cart figure {
    margin: 0; }
    .shopping-cart figure img {
      width: 70px;
      height: 70px;
      border-radius: 20px;
      object-fit: cover; }
  .shopping-cart p:nth-child(2) {
    color: #191970; }
  .shopping-cart p:nth-child(3) {
    font-size: 16px;
    font-weight: bold; }

.main-categorys {
  background-color: #E6E6FA;
  grid-area: main; }
  .main-categorys .mans-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 8px;
    place-content: center; }

.products-card {
  width: 230px;
  background-color: #B0C4DE;
  margin-left: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px; }
  .products-card img {
    width: 230px;
    height: 230px;
    object-fit: cover; }
  .products-card .product_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Work Sans", sans-serif;
    font-size: 14px; }
    .products-card .product_info ul {
      list-style: none;
      margin-left: 5px; }
      .products-card .product_info ul li {
        margin: 10px 0; }
        .products-card .product_info ul li strong {
          text-transform: uppercase;
          display: inline-block;
          color: #191970;
          width: 70px; }
    .products-card .product_info figure {
      margin: 0; }
      .products-card .product_info figure img {
        width: 45px;
        height: 45px;
        margin-right: 10px; }

.footer {
  grid-area: footer;
  background-image: linear-gradient(to right, #191970, #5e42a6);
  display: flex;
  justify-content: space-around; }
  .footer h3 {
    color: #E6E6FA;
    font-family: "Contrail One", cursive;
    margin: 0 10px 0;
    text-align: center; }
  .footer img {
    width: 30px;
    margin: 5px 10px 0; }
  .footer p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #B0C4DE;
    margin-right: 10px; }
  .footer .redes {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .footer .datos {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }

@media screen and (max-width: 885px) {
  .mans-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px); }
  .products-card {
    width: 180px; }
    .products-card img {
      width: 180px;
      height: 180px; }
  product_info ul {
    list-style: none; }
    product_info ul li {
      margin: 4px 0; }
      product_info ul li strong {
        text-transform: uppercase;
        display: inline-block;
        color: #191970;
        width: 102px; }
  product_info figure {
    margin: 0; }
    product_info figure img {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      margin-top: 65px; } }
