*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" 
                         "nav main" 
                         "nav footer"; 
}