.title_header {
  display: flex;
  grid-area: header;
  background-image: $bg_degrade;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  .title_dp {
    font-size: 50px;
    letter-spacing: 30px;
    font-family: $contrail;
    -webkit-text-stroke: 3px $pink;
    -webkit-text-fill-color: $border_pink;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-family: $work;
      color: $MidnightBlue;
      font-weight: bold;
      font-size: $large;
      margin-bottom: 10px;
    }
    img {
      width: 50px;
    }
  }
  .car_empy {
    position: relative;
    div {
      position: absolute;
      top: 0;
      right: -6px;
      width: 20px;
      height: 20px;
      font-family: $work;
      font-weight: bold;
      font-size: $medium;
      color: $border_pink;
      background-color: $LightSteelBlue;
      border-radius: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    img {
      width: 50px;
      margin-bottom: 10px;
    }
  }
}
