.main-categorys {
  background-color: $white;
  grid-area: main;
  .mans-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, $size-width-card);
    gap: 8px;
    place-content: center;
  }
}
