@media screen and (max-width: 885px) {
  .mans-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .products-card {
    width: 140px;
    img {
      width: 140px;
      height: 140px;
    }
  }
}

@media only screen and (max-width: 540px) {
}

@media only screen and (max-width: 320px) {
}
